.HeatImgCover h1{
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 20%;
}
#heatChart{
    position: absolute;
    height: 50%;
    width: 99%;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%)    
}
